<h1>Enter your email address</h1>
<p>and you'll get an invitation to this app.</p>

<%= form_tag reports_send_mail_path do %>
  <p>Address: <%= email_field_tag :address %></p>
  <p>Name of Report: <%= text_field_tag :name %>
  <%= submit_tag %>
<% end %>
